{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = 'width = device - width, initial-scale = 1'>
        <link rel = 'stylesheet' href ='{% static 'style.css' %}'>
        <link rel = 'stylesheet' href = 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link rel = 'stylesheet' href = 'https://fonts.googleapis.com/icon?family=Material+Icons'>
        <meta http-equiv = 'Content-Type' content = 'text/html; charset = utf-8'>
        <meta name 'author' content = 'Pythogenius'>
        <title> TaskHub </title>
        <style type = 'text/css'>
            
        </style>
        </head>

    <body>
        <header>
            <h1><a href = '/' class = 'title'> TaskHub.com </a></h1>
            <div class = 'nav-bar'>
            <nav>
                {% if user.is_authenticated %}
                <ul>
                    {# i used reversed order to place this list at the right using the 'float:right' css properties cos at this time i dont know how best to solve it #}
                    <li><a href ='/logout'> <i class='bx bx-log-out'></i> Log Out </a></li>
                     <li><a href ='/todo'> <i class='bx bx-task'></i> Task </a></li>
                     <li><a href ='/'> <i class='bx bxs-home'></i> Home </a></li>                    
                </ul> 
                {% endif %}
            </nav>
            </div> 
        </header> 
       <hr/>
	<section>
        {% if user.is_authenticated %}
            <div class = 'body'>
                <h1><b> Welcome {{ user.username }}! </b></h1>
                <p> Todo boosts focus for productivity in work and leisure. </p>
                <br>
                <p class = 'start'><a href = '/todo' class = 'btn'> Get Started </a></p>
            </div>
            <img src = '{% static 'todo.jpg' %}' alt = 'image' />
        {% else %}
            <center><h1>Your session has timed out. Please click the link to  <a href = '{% url 'login'%}'> continue</a></h1></center>
        {% endif %}
	</section>

            </body>

    <footer>
        <p> &copy; Copyright {{ date|date:'Y' }} by <a href = '#'>PythoGenius </a>
    </footer>  
</html>
