{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = 'width = device - width, initial-scale = 1'>
        <link rel = 'stylesheet' href ='{% static 'style.css' %}'>
	    <link rel = 'stylesheet' href ='{% static 'email.css'%}'>
        <link rel = 'stylesheet' href = 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link rel = 'stylesheet' href = 'https://fonts.googleapis.com/icon?family=Material+Icons'>
        <meta http-equiv = 'Content-Type' content = 'text/html; charset = utf-8'>
        <meta name 'author' content = 'Pythogenius'>
        <title> Reset Password </title>
        <style type = 'text/css'>

        </style>
        </head>

    <body>

        <div class = 'container'>
            <h2> Forgot Your Password </h2>
            <p class = 'word'> Enter your email address below to recieve instructions for setting a new one. </p>
            
            <form method = 'POST'>
                {% csrf_token %}
                <div>
                    <div class = 'email'>
                        <input type = 'email' id = '{{form.email}}' name = 'email' placeholder = 'Enter Email'>
                        <i class='bx bx-envelope'></i>
            
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div class = 'danger-alert'>
                                    <strong> {{ error | escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <input type = 'submit' value = 'Send' class = 'btn'>
            
                    <div class = 'register-part'>
                        <p><a href = '{% url 'register' %}'> Create New Account </a></p>
                    </div>
                </div>
            </form>
            </div>
        </body>             