{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = 'width = device - width, initial-scale = 1'>
        <link rel = 'stylesheet' href = 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link rel = 'stylesheet' href = 'https://fonts.googleapis.com/icon?family=Material+Icons'>
        <meta http-equiv = 'Content-Type' content = 'text/html; charset = utf-8'>
        <meta name 'author' content = 'Pythogenius'>
        <title> Email Sent </title>

	<style>
		body{
        		width: 100%;
        		background: #4169E1;
        		color: #000;
			}

		h2{
        		font-size: 50px;
        		text-align: center;
				}

		p{
        		font-size: 20px;
        		text-align: Center;
		}
      
	</style>

    </head>

{% block content %}

	<h2> Check your inbox </h2>
	<p> Please check your inbox and follow the instruction to reset your password. </p>

{% endblock %}
