{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = 'width = device - width, initial-scale = 1'>
        <link rel = 'stylesheet' href ='{% static 'style.css' %}'>
        <link rel = 'stylesheet' href = 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link rel = 'stylesheet' href = 'https://fonts.googleapis.com/icon?family=Material+Icons'>
        <meta http-equiv = 'Content-Type' content = 'text/html; charset = utf-8'>
        <meta name 'author' content = 'Pythogenius'>
        <title> {{ title }} </title>
        <style type = 'text/css'>

        </style>
        </head>

    <body>
        <header>
            <h1><a href = '/' class = 'title'> TaskHub.com </a></h1>
            <div class = 'nav-bar'>
            <nav>
                <ul>
                    {# i used reversed order to place this list at the right using the 'float:right' css properties cos at this time i dont know how best to solve it #}
                    <li><a href ='#'> <i class='bx bxs-calendar'></i> Calender </a></li>
                     <li><a href ='/todo'> <i class='bx bx-task'></i> Task </a></li>
                     <li><a href ='/'> <i class='bx bxs-home'></i> Home </a></li>

                </ul>
            </nav>
            </div>
        </header>
        <hr/>

	<div class = 'add-task'>
		<form method = 'POST'>
			{% csrf_token %}
			{{ forms }}
			<input type = 'submit' class = 'btn' value = 'Add'/>
		</form>

	</div>

	{% for x in list %}

	<div class = 'list_of_task'>
		<h3> {{ x.title }} </h3>
		<p> {{ x.details }} </p>
		<p><small> {{ x.date}} </small></p>
		<br/>
		<form action = '/del/{{ x.id }}' method = 'POST'>
			{% csrf_token %}
			<button value = 'del' type = 'submit' class = 'del_btn'> Delete </button>
		</form>
	</div>
	{% endfor %}

	</body>

    <footer>
        <p> &copy; Copyright {{ date|date:'Y' }} by <a href = '#'>PythoGenius </a>
    </footer>
</html>

