{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = 'width = device - width, initial-scale = 1'>
        <link rel = 'stylesheet' href ='{% static 'style.css' %}'>
        <link rel = 'stylesheet' href = 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href = 'https://fonts.googleapis.com/icon?family=Material+Icons'>
        <meta http-equiv = 'Content-Type' content = 'text/html; charset = utf-8'>
        <meta name 'author' content = 'Pythogenius'>
        <title> {{ title }} </title>
        <style type = 'text/css'>
            
        </style>
        </head>

    <body>
        <header>
            <h1 class = 'title'> TaskHub.com </h1>
            <div class = 'nav-bar'>
            <nav>
                <ul>
                    {# i used reversed order to place this list at the right using the 'float:right' css properties cos at this time i dont know how best to solve it #}
                    <li><a href ='#'> <i class='bx bxs-calendar'></i> Calender </a></li>
                     <li><a href ='#'> <i class='bx bx-task'></i> Task </a></li>
                     <li><a href ='#'> <i class='bx bxs-home'></i> Home </a></li>
                    
                </ul> 
            </nav>
            </div> 
        </header> 
        <hr/>
        <section>
            <div>
                <h1> ToDo List </h1>
                <p> Todo, a versatile tool, boosts concentration for both work and leisure, fostering productivity and enhancing overall experiences. </p>
                <a href = '#'> Get Started </a>
            </div>
            <img src = '{% static 'todo.jpg' %}' alt = 'image' />
        </section>
    </body>

    <footer>
        <p> &copy; Copyright {{ date|date:'Y' }} by <a href = '#'>PythoGenius </a>
    </footer>  
</html>
