*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
body{
	font-family: Tangerine, serif;
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 700

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.title{
	position: absolute;
	text-decoration: none;
	padding-top: 37px;
	font-weight: 500;
	padding-left: 12px;
	color: #fff;
}
.title a:hover{
        color: #000;
}


.nav-bar{
	background: #4169E1;
	height: 80px;
}

.nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	display: inline;
	float: right;
	margin-left: 100px;
	padding-right: 5px;
	padding-top: 50px
}

li a{
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding: 10px;
}

li a:hover{
	color: #000;
}

h1{
	font-weight: 400;
}

.start{
	border: 1.5px solid #4169E1;
	background: #4169E1;
	outline: none;
	border-radius: 2px;
	height: 60px;
	width: 120px;
	margin-top: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
p .start{
	
	font-size: 15px;
}
.start:hover{
	background: #fff;
}

.btn{
	text-decoration: none;
	color: #fff;
	justify-content: center;
	padding-left: 10px;

}

.btn:hover{
        color: #000;
        pointer: cursor;
}

.body{
	margin-top: 100px;
	position: absolute;
	padding: 50px;
}
.body p{
	padding-top: 15px;
	font-size: 20px;
}

img{
	float: right;
}

footer{
	color: #000;
}

footer a{
        text-decoration: none;
        color: #4169E1;
}

