*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.search{
	background: none;
	border: none;
	border-bottom: 1px solid #4169E1;
	padding: 0 1em .5em 0;
	width: 90%;
	color: #000;
	font-size: 1.1em;
	margin-top: 2.07em;
	margin-right: 8em;
}
.search:focus{
	outline: none;
}
.search:placeholder{
	color: #000
}

.submit{
	position: absolute;
	top: 100;
	right: 45px;
	padding: 10px;
	margin-top: -39px;
	border: none;
	outline: none;
	color: #000;
	background: #4169E1;
	cursor: pointer;
	font-size: 1em;
	transition: .4s;
}

.submit:hover{
	color: #fff;
}

.add-task{
	margin-top: 20px;
	margin-left: 40px;
}

label{
	padding-top: 8px !important;
	display: block;
}

Textarea{
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
	width: 450px;
	padding: 10px;
	font-weight: 500;
}

.btn{
	background-color: #4169E1;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-left: 380px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.list_of_task{
        position: absolute;
        width: 35%;
        height: 87%;
        top: 0;
        right: 0;
        background: rgba(110, 110, 110, .25);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .3);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, .18);
        z-index: 1;
        padding: 3em 2em;
        overflow-Y: scroll;
        overflow-x: hidden;
        outline: none;
	margin-top: 5em;;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
}
/* this below is for the scroll bar for browser such as chrome and safari, keeping the scroll bar invisible */

.list_of_task::-webkit-scrollbar{
	width: 8px;
}
.list_of_task::-webkit-scrollbar-thumb{
	background-color: transparent;
}


.list{
	margin-top: 40px;
	position: relative;
	width: 400px;
}

.list2{
	margin-bottom: 8px;
}

.list2 .del_btn{
	float: right;
	margin-top: -12px;
	cursor: pointer;
	background: #4169E1;
	outline: none;
	color: #fff;
	border:;
}

.list2 a{
	text-decoration: none;
	color: #000;
}

h2{
	text-align: center;
}
